<section class="main">
  <div class="container">
    <div>
      <p>Using ng-select</p>
      <ng-select
        class="multi-display-with-header select-groups"
        [multiple]="true"
        bindLabel="group"
        [closeOnSelect]="false"
        [clearSearchOnAdd]="true"
        [items]="accessGroups"
      >
        <ng-template ng-header-tmp>
          <dx-check-box
            [(value)]="hasSelectedAll"
            (onValueChanged)="selectOrDeselectAll($event)"
          >
          </dx-check-box>
          <span class="ng-option-first">Name</span>
          <span class="ng-option-last">Organization</span>
        </ng-template>

        <ng-template ng-option-tmp let-item="item" let-item$="item$">
          <dx-check-box [value]="!!item$.selected"></dx-check-box>
          <span class="access-group-selection" [title]="item.group">{{
            item.group
          }}</span>
          <span
            class="access-group-selection"
            [title]="item.organizationName"
            >{{ item.organizationName }}</span
          >
        </ng-template>

        <ng-template ng-multi-label-tmp let-items="items">
          <div class="ng-value" *ngIf="items.length > 1; else tplSingleSelect">
            <span class="ng-value-label">{{
              "Multiple Access Groups" + "(" + items.length + ")"
            }}</span>
          </div>
          <ng-template #tplSingleSelect>
            <div class="ng-value">
              <span class="ng-value-label">{{ items[0].group }}</span>
            </div>
          </ng-template>
        </ng-template>
      </ng-select>
    </div>

    <div>
      <p>Using devextreme dropdownbox</p>
    </div>
  </div>
</section>
